/*  documentation.css helps assemble consistent html and svg graphic elements */

/*  ------------------------------------------------------------------------
    some generic styles
    ------------------------------------------------------------------------*/
.entityBox {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    vertical-align: top;
    font-size: 0.95em;
    margin: auto;
    width: fit-content;
    white-space: nowrap;
    color: #00274C;
}
.entityBox p {
    margin: 0;
}
.entityBoxLabel {
    font-weight: bold;
    margin-bottom: 5px !important;
}
.outerBox {
    margin: 20px;
}
.inlineBox {
    display: inline-block;
    margin: 0 5px;
}
.diagramArrow {
    font-size: 2em;
    display: inline-block;
}

/*  ------------------------------------------------------------------------
    specific to script-generator
    ------------------------------------------------------------------------*/
option-help{
    overflow: hidden;
}

